@import '/src/styles/scss/variables.scss';
@import '/src/styles/scss/mixins.scss';

.button-round {
  width: 200px;
  @include breakpoint('max', '540px'){
    border: 1px solid $color-main;
    width: 150px!important;
  }
  .button-text {
    margin-right: 5px;
    font-size: 1rem;
  }
}