@import '/src/styles/scss/variables.scss';
@import '/src/styles/scss/mixins.scss';

.carousel-main {
  height: 100%;
  // max-height: 500px;

  .carousel-overlay {
    z-index: 1111111;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    margin-left: 100px;
    margin-top: 100px;

    @include breakpoint('max', '960px') {
      margin-top: 50px;
      margin-left: 80px;
    }

    @include breakpoint('max', '640px') {
      margin-top: 30px;
      display: none;
    }

    .content-subtitle {
      font-size: $font-size-h4-desktop;
      color: $color-white !important;

      @include breakpoint('max', '960px') {
        font-size: 1.2rem;
      }
    }

    .content-title {
      font-size: $font-size-h1-desktop;
      color: $color-white !important;
      font-weight: 700;

      @include breakpoint('max', '960px') {
        font-size: 2rem;
        margin-bottom: 20px;
      }
    }

    .content-description,
    .content-open {
      color: $color-white !important;
      font-size: $font-size-h5-desktop;

      @include breakpoint('max', '960px') {
        font-size: 1.1rem;
        max-width: 320px;
      }
    }

    .carousel-button {
      margin-top: 30px;
      display: inline;
    }
  }


  .picsum-img-wrapper {
    img {
      object-fit: cover;
      width: 100%;
      height: 80vh;
      filter: brightness(60%);

      @include breakpoint('max', '960px') {
        height: 60vh;
      }

      @include breakpoint('max', '768px') {
        filter: brightness(90%);
        height: 50vh;
      }

      @include breakpoint('max', '540px') {
        filter: brightness(90%);
        height: 35vh;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5% !important;
    height: 100px;
  }
}

.carousel-caption {
  padding-bottom: 10px;
}

.carousel-responsive {
  text-align: center;
  display: none;
  padding: 10px 20px;

  @include breakpoint('max', '640px') {
    display: block;
  }

  .content-subtitle {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .content-title {
    font-size: 2rem;
    font-weight: 700;
    color: $color-main;
  }

  .content-description,
  .content-open {
    font-size: 1rem;
  }

  .carousel-button {
    display: inline;
  }
}