@import '/src/styles/scss/variables.scss';
@import '/src/styles/scss/mixins.scss';

.top-section {
  padding-top: 20px;

  .menu-image {
    height: 150px;
  }

  .menu-title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
