<nav mat-tab-nav-bar mat-stretch-tabs class="mt-4" dynamicHeight [color]="'warn'">
  <!-- <a mat-tab-link routerLink='chi-nhanh/pho-oc-chu-nam-1' (click)="activeTab = 'pho-oc-chu-nam-1'"
    [active]="activeTab == 'pho-oc-chu-nam-1'">
    {{'branch.1' | translate}}
  </a>
  <a mat-tab-link routerLink='chi-nhanh/pho-oc-chu-nam-2' (click)="activeTab = 'pho-oc-chu-nam-2'"
    [active]="activeTab == 'pho-oc-chu-nam-2'">
    {{'branch.2' | translate}}
  </a>
  <a mat-tab-link routerLink='chi-nhanh/ham-ruou-pho-oc-chu-nam-3' (click)="activeTab = 'ham-ruou-pho-oc-chu-nam-3''"
    [active]="activeTab == 'ham-ruou-pho-oc-chu-nam-3'">
    {{'branch.3' | translate}}
  </a> -->
</nav>

<!-- <p>{{id}}</p> -->

<div class="container">
  <div class="top-section text-center">
    <img src="assets/images/menu.png" alt="menu" class="menu-image">
    <p class="menu-title">{{ 'const.branch' | translate }}</p>
  </div>
</div>