@import '/src/styles/scss/variables.scss';
@import '/src/styles/scss/mixins.scss';

.top-section {
  padding-top: 20px;

  .menu-image {
    height: 150px;
  }


  .menu-title {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.main-section {
  .branch-title {

    p {
      font-size: 1.5rem;
      font-weight: 700;
      color: $color-main;
    }
  }

  .branch-info {
    .card-branch-image {
      width: 100%;
      aspect-ratio: 1.5;
      object-fit: cover;
    }

    .card-branch-title {
      text-transform: uppercase;
      font-size: 1.4rem;
      color: $color-main;
      font-weight: 600;
    }

    .branch-info-text {
      margin: 10px 0;
      .info-text-left {
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }
}


.navigation-tab {
  a {
    text-decoration: none;
  }
}