@import '../styles/scss/variables.scss';
@import '../styles/scss/mixins.scss';

.my-scrollbar {
  margin-top: 80px;
  width: 100%;
  --scrollbar-border-radius: 8px;
  --scrollbar-padding: 3px;
  --scrollbar-viewport-margin: 80px;
  --scrollbar-track-color: transparent;
  --scrollbar-wrapper-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.2);
  --scrollbar-size: 6px;
  --scrollbar-hover-size: 7px;
  --scrollbar-thumb-transition: height ease-out 150ms, width ease-out 150ms;
  --scrollbar-track-transition: height ease-out 150ms, width ease-out 150ms;
}

.main {
  margin-top: 74px;
  margin-bottom: $px-40;
  min-height: 70vh;
  display: block;
  background: linear-gradient(rgb(255, 248, 246) 0%, rgba(248, 250, 253, 0) 813px);
  
  @include breakpoint('max', '768px') {
    margin-top: 64px;
  }
}

.wrapper {
  width: 100%;
}