<!-- Footer -->
<footer class="footer" id="footer-about">
  <div class="container pt-4">
    <div class="row py-3 mb-3">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="w-100 d-flex justify-content-center">
          <img src="assets/images/logo/logo_light.png" width="200" class="img-fluid">
        </div>
        <!-- <p class="h2 text-center text-white">Fresh Food</p> -->
        <ul class="list-inline mt-4 d-flex justify-content-center">
          <li class="list-inline-item mx-3"><a href="#" target="_blank" title="facebook"><i
                class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item mx-3"><a href="#" target="_blank" title="instagram"><i
                class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item mx-3"><a href="#" target="_blank" title="youtube"><i
                class="fa fa-youtube-play"></i></a></li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-4 footer-info mt-3">
        <p>{{'caption' | translate}}</p>
        <h3>{{'name' | translate}}</h3>
        <p>Website: <a href="https://phoocchunam.com">phoocchunam.com</a></p>
        <p>Email: <a href="mailto:phoocchunam@gmail.com">phoocchunam@gmail.com</a></p>
      </div>
      <div class="col-12 col-md-8 col-lg-5 mt-sm-3">
        <h6 class="text-uppercase text-book font-weight-bold mb-4">{{'action.book' | translate}}</h6>
        <ul class="list-footer mb-0">
          <li class="mb-2">{{'footer.branch1.title' | translate}} {{'footer.branch1.description' |
            translate}}{{'footer.branch1.contact' | translate}}</li>
          <li class="mb-2">{{'footer.branch2.title' | translate}} {{'footer.branch2.description' |
            translate}}{{'footer.branch2.contact' | translate}}</li>
          <li class="mb-2">{{'footer.branch3.title' | translate}} {{'footer.branch3.description' |
            translate}}{{'footer.branch3.contact' | translate}}</li>
        </ul>
      </div>
    </div>
    <hr class="m-0 bg-white" />
    <div class="row">
      <div class="col-12">
        <p class="text-white text-small text-center mb-0 py-3 ">
          &copy;2021 All rights reserved.
          <span class="align-baseline">
            {{ 'const.developer' | translate }} tnvinh99@gmail.com.</span>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- End -->