@import '/src/styles/scss/variables.scss';
@import '/src/styles/scss/mixins.scss';

footer {
  background: $color-main;
  color: $color-white;

  .footer-info{
    @include breakpoint('max', '960px'){
      margin-top: $px-20;
      text-align: center;
    }
    p a{
      color: $color-white;
    }
  }
  .text-book{
    @include breakpoint('max', '960px'){
      margin-top: $px-20;
      text-align: center;
    }
  }
}

.list-inline-item a i {
  color: #fff;
  font-size: 1.5rem;
}

.list-footer li a:hover {
  text-decoration: underline;
}