<header class="header bg-light">
  <div class="container">
    <div class="header-container">
      <a class="header-logo h2 m-0" href="/">
        <img src="assets/images/logo/logo.png" alt="{{'name' | translate}}">
      </a>
      <ul class="menu">
        <li class="menu-item">
          <a routerLink="/" class="menu-item-link">{{'menu.title1' | translate}}</a>
        </li>
        <li class="menu-item">
          <a routerLink="/dashboard" class="menu-item-link">{{'menu.title2' | translate}}</a>
        </li>
        <li class="menu-item">
          <a href="#list-foods" type="button" class="menu-item-link">{{'menu.title3' | translate}}</a>
        </li>
        <li class="menu-item">
          <a href="/pricing" class="menu-item-link">Pricing</a>
        </li>
      </ul>
      <div class="menu-toggle">

      </div>
    </div>
  </div>
</header>