<app-top-carousel></app-top-carousel>
<!-- <app-carousel></app-carousel> -->

<!-- Section seafood -->
<p class="section-header">{{ 'homeheader.seafood' | translate }}</p>
<ng-template [ngIf]="category.length > 0" [ngIfElse]="loading">
  <div class="container general-section">
    <div class="w-100">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of category">
          <div class="py-3">
            <div class="card card-category mx-2 mx-sm-1">
              <div class="card-body">
                <div class="w-auto overflow-hidden">
                  <img class="card-image" [src]="item.image"
                    onerror="this.onerror=null;this.src='https://i.imgur.com/QJzMcF1.png'" alt="Card image cap">
                </div>
                <p class="card-title-text text-seafood" matTooltip={{item.title}}>{{item.title}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="container general-section">
    <div class="w-100">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let i of [1,2,3,4]">
          <div class="py-3">
            <div class="card card-category m-1 mx-sm-1">
              <div class="card-body">
                <ngx-skeleton-loader count="1"
                  [theme]="{ 'border-radius': '15px', 'margin-bottom': '25px', height: '150px'}" appearance="line">
                </ngx-skeleton-loader>
                <div class="px-4">
                  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</ng-template>

<!-- Section trend food -->
<p class="section-header">{{ 'homeheader.trend' | translate }}</p>
<ng-template [ngIf]="category.length > 0" [ngIfElse]="loading2">
  <div class="container general-section">
    <div class="w-100">
      <owl-carousel-o [options]="customOptions_food">
        <ng-template carouselSlide *ngFor="let item of category">
          <div class="pt-2 pb-1">
            <div class="card card-trend m-2 m-sm-1">
              <div class="card-body">
                <div class="card-image-block w-auto overflow-hidden">
                  <img class="card-image" [src]="item.image"
                    onerror="this.onerror=null;this.src='https://i.imgur.com/QJzMcF1.png'" alt="Card image cap">
                </div>
                <p class="card-title-text text-food" matTooltip={{item.title}}>{{item.title}}</p>
                <hr class="card-divider" />
                <div class="card-price-text">
                  <span>{{'const.price' | translate}}</span>
                  <span class="card-price-text-call">{{'const.contact' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-2">
            <div class="card card-trend m-2 m-sm-1">
              <div class="card-body">
                <div class="card-image-block w-auto overflow-hidden">
                  <img class="card-image" [src]="item.image"
                    onerror="this.onerror=null;this.src='https://i.imgur.com/QJzMcF1.png'" alt="Card image cap">
                </div>
                <p class="card-title-text text-food" matTooltip={{item.title}}>{{item.title}}</p>
                <hr class="card-divider" />
                <div class="card-price-text">
                  <span>{{'const.price' | translate}}</span>
                  <span class="card-price-text-call">{{'const.contact' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</ng-template>

<ng-template #loading2>
  <div class="container general-section">
    <div class="w-100">
      <owl-carousel-o [options]="customOptions_food">
        <ng-template carouselSlide *ngFor="let i of [1,2,3,4]">
          <div class="pt-2 pb-1">
            <div class="card card-trend m-2 m-sm-1">
              <div class="card-body">
                <ngx-skeleton-loader count="1"
                  [theme]="{ 'border-radius': '10px 10px 0 0', 'margin-bottom': '25px', height: '150px'}"
                  appearance="line">
                </ngx-skeleton-loader>
                <div class="px-5">
                  <ngx-skeleton-loader count="1" appearance="line">
                  </ngx-skeleton-loader>
                  <hr class="card-divider" />
                  <ngx-skeleton-loader count="1" appearance="line">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="pb-2">
            <div class="card card-trend m-2 m-sm-1">
              <div class="card-body">
                <ngx-skeleton-loader count="1"
                  [theme]="{ 'border-radius': '10px 10px 0 0', 'margin-bottom': '25px', height: '150px'}"
                  appearance="line">
                </ngx-skeleton-loader>
                <div class="px-5">
                  <ngx-skeleton-loader count="1" appearance="line">
                  </ngx-skeleton-loader>
                  <hr class="card-divider" />
                  <ngx-skeleton-loader count="1" appearance="line">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</ng-template>

<!-- Section branchs -->
<p class="section-header" id="chi-nhanh">{{ 'homeheader.branch' | translate }}</p>
<p class="section-subtile">{{ 'homeheader.branch_sub' | translate }}</p>
<ng-template [ngIf]="branch.length > 0" [ngIfElse]="loading3">
  <div class="container general-section">
    <div class="row justify-content-center">
      <div *ngFor="let item of branch" class="col-10 col-md-6 col-lg-4 px-1 mb-md-4">
        <app-branch-card [branch]="item"></app-branch-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loading3>
  <div class="container general-section">
    <div class="row justify-content-center">
      <div *ngFor="let item of [1,2,3]" class="col-10 col-md-6 col-lg-4 px-1 mb-md-4">
        <app-branch-card [branch]="item" [isloading]="'true'"></app-branch-card>
      </div>
    </div>
  </div>
</ng-template>

<!-- <app-round-button [text]="'HomePage'" [color]="'#FF0000'" (click)="onClick()"></app-round-button> -->